<div class="relative flex flex-col h-dvh w-dvw overflow-hidden">

    <!-- Header -->
    <header class="relative z-30 flex h-14 shrink-0 items-center gap-3
               border-b
               border-(--av-color-border)
               bg-(--av-color-surface) px-3
               backdrop-blur-xl">

        <!-- Usuário -->
        <div class="flex min-w-0 flex-1 items-center gap-2.5">

            <av-avatar [name]="user().name" />

            <div class="min-w-0">
                <p class="truncate text-sm font-semibold ">
                    {{ user().name }}
                </p>
            </div>

        </div>


        <!-- Menu / Home -->
        <button av-button (click)="isHome ? drawerOpen.set(!drawerOpen()) : goHome()" class="!h-10 !w-10 !rounded-xl !border-0
                   shadow-none
                   active:scale-95 transition-all" variant="slate">

            <span av-icon [name]="isHome ? 'menu' : 'home'" type="material" size="md">
            </span>

        </button>

    </header>


    <!-- Conteúdo -->
    <main class="min-h-0 flex-1 overflow-hidden">

        <router-outlet />

    </main>


    <!-- Bottom Navigation -->
    <nav class="relative z-30 flex h-[68px] shrink-0 items-center
               justify-between
               bg-(--av-color-surface)
               px-3 pb-2 pt-2
               backdrop-blur-xl
               shadow-[0_-8px_30px_rgba(15,23,42,0.08)]">

        <!-- Voltar -->
        <button av-button (click)="goBack()" [disabled]="isHome" class="!h-11 !w-11 !rounded-xl
                   !border-0
                   shadow-none
                   disabled:opacity-30
                   active:scale-95 transition-all">

            <span av-icon name="arrow_back" type="material" size="xl">
            </span>

        </button>


        <!-- Ação principal -->
        <button av-button variant="blue" rounded="full" (click)="openOrder()">
            <span av-icon name="add" type="material" [size]="24">
            </span>
        </button>


        <!-- Carrinho -->
        <button #basket av-button variant="orange" routerLink="/basket" class="relative !h-11 !w-11 !rounded-xl
                   !border-0
                   shadow-none
                   active:scale-95
                   transition-all
                   overflow-visible!">

            <span av-icon name="shopping_basket" type="material" size="xl">
            </span>

            @if (orderDraftService.quantity() > 0) {

            <span av-badge variant="red" class="absolute -right-1.5 -top-1.5
                           min-w-5 !h-5
                           !px-1
                           flex items-center justify-center
                           text-[10px]
                           border-2 border-white">

                {{ orderDraftService.quantity() }}

            </span>

            }

        </button>

    </nav>


    <av-sidenav [width]="'80%'" [opened]="drawerOpen()" [toggleable]="true">
        <div header class="flex h-16 shrink-0 items-center gap-2 px-3">

            <div class="flex h-10 w-10 items-center justify-center
                           rounded-xl">

                <img src="assets/icon.svg" alt="">

            </div>

            <av-heading [level]="4" class="min-w-0 flex-1" muted="Atendimento">
                Tanamao Touch
            </av-heading>

            <button av-button (click)="drawerOpen.set(false)" class="aspect-square! p-0!" variant="red">
                <span av-icon name="close" size="lg">
                </span>
            </button>

        </div>
        <div content>
            <av-select label="Tema" [formControl]="theme"
                [data]="[{label: 'Dark', value: 'dark'}, {label: 'Light', value: 'light'}, {label: 'System', value: 'system'}]"
                icon="theme" [searchable]="false" />
        </div>
        <div footer class="flex shrink-0 items-center gap-2 p-3">

            <av-avatar [name]="user().name" />

            <av-heading [level]="6" class="min-w-0 flex-1" muted="Usuário conectado">
                {{ user().name }}
            </av-heading>

            <button av-button variant="red" (click)="leave()" class="aspect-square! p-0!">

                <span av-icon name="logout" type="material" size="lg">
                </span>

            </button>

        </div>
    </av-sidenav>


</div>