<div class="flex flex-col h-dvh w-dvw bg-gray-100 relative">

    <!-- Header -->
    <div class="flex items-center gap-3 border-b border-slate-200 bg-white p-1 shadow-md">
        <div class="min-w-0 flex-1 flex items-center gap-2">
            <div class="rounded-full shadow-lg  w-10 h-10 bg-orange-500 flex items-center justify-center text-white font-bold">
                <span class="capitalize">{{user().name ? user().name.slice(0,2): ''}}</span>
            </div>
            <span class="text-gray-700 text-sm capitalize">{{user().name}}</span>
        </div>


        <button av-button (click)="isHome ? drawerOpen.set(!drawerOpen()) : goHome()" class="shadow-sm">
            <span av-icon [name]="isHome ? 'menu' : 'home'" type="material" size="md"></span>
        </button>
    </div>

    <!-- open tab -->
    <div class="flex-1 overflow-auto">
        <router-outlet />
    </div>

    <!-- Nav -->
    <div class="
    relative
    flex
    items-center
    justify-between
    px-3
    py-2
    bg-white/95
    backdrop-blur-md
    border-t
    border-gray-200/80
    shadow-[0_-4px_16px_rgba(0,0,0,0.08)]
  ">
        <!-- Voltar / menu -->
        <button av-button (click)="goBack()" [disabled]="isHome" class="shadow-sm">
            <span av-icon [name]="'arrow_back'" type="material" size="xl"></span>
        </button>


        <!-- Novo pedido -->
        <div class="relative">
            <button av-button variant="blue" rounded="full" (click)="openOrder()" class="
                absolute
                -top-6
                w-14
                h-14
                border-4
                border-white
                shadow-[0_6px_18px_rgba(59,130,246,0.35)]
            ">
                <span av-icon name="add" type="material" size="2xl"></span>
            </button>
        </div>


        <!-- Carrinho -->
        <button #basket av-button variant="orange" routerLink="/basket" class="relative shadow-sm overflow-visible!">
            <span av-icon name="shopping_basket" type="material" size="xl"></span>
            @if (orderDraftService.quantity() > 0) {
            <span av-badge variant="red" class="absolute -top-4 -right-4">
                {{ orderDraftService.quantity() }}
            </span>
            }
        </button>
    </div>

    <!-- drawer -->
    <div class="absolute top-0 left-0 z-999 w-full -translate-x-full h-full bg-black/50 transition-all" [ngClass]="{
            'translate-x-0': drawerOpen(),
        }">
        <div class="absolute top-0 left-0 w-64 h-full bg-white flex flex-col">
            <div class="flex flex-row gap-2 px-2 items-center border-b border-gray-200 text-orange-500">
                <div class="p-4 flex-1">
                    <h1 class="text-[20px] font-bold">
                        Tanmao Touch
                    </h1>
                </div>

                <div>
                    <button av-button (click)="drawerOpen.set(false)">
                        <span av-icon name="close" type="material" size="lg"></span>
                    </button>
                </div>
            </div>

            <div class="flex flex-row items-center justify-between mt-auto p-2 border-t border-gray-200">
                <div class="min-w-0 flex-1 flex items-center gap-2 flex-1">
                    <div
                        class="rounded-full  w-10 h-10 bg-orange-500 flex items-center justify-center text-white font-bold">
                        <span class="capitalize">{{user().name ? user().name.slice(0,2): ''}}</span>
                    </div>
                    <span class="text-gray-700 text-sm capitalize">{{user().name}}</span>
                </div>

                <button av-button variant="red" (click)="leave()">
                    <span av-icon name="logout" type="material" size="lg"></span>
                </button>
            </div>
        </div>
    </div>
</div>