:host {
  display: block;
  height: 100%;
  min-height: 0;
}

.visible {
animation: slideUp 0.3s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

