<div class="w-[92vw] max-w-[420px]
           overflow-hidden
           rounded-2xl
           border border-slate-200
           bg-white
           shadow-2xl">

    <!-- Header -->
    <div class="flex items-center justify-between
               border-b border-slate-100
               px-4 py-3">

        <div class="flex flex-col">

            <span class="text-base font-bold text-slate-800">
                Ações
            </span>

            <span class="text-[11px] text-slate-400">
                Escolha uma ação para os itens selecionados
            </span>

        </div>

        <button av-button variant="red" icon="close" (click)="close()" class="!h-9 !w-9 !rounded-xl !border-0">
        </button>

    </div>


    <!-- Ações -->
    <div class="flex flex-col gap-2 p-3">

        <!-- Desmembrar -->
        <button av-button iconProvider="material" icon="call_split" variant="orange" (click)="select('split')"
            class="!min-h-12 !justify-start !rounded-xl">

            <span class="flex flex-col items-start">

                <span class="font-semibold">
                    Desmembrar
                </span>

                <span class="text-[10px] opacity-70 font-normal">
                    Separar os itens selecionados
                </span>

            </span>

        </button>


        <!-- Transferir selecionados -->
        <button av-button iconProvider="material" icon="swap_horiz" (click)="select('transfer_selected')"
            class="!min-h-12 !justify-start !rounded-xl">

            <span class="flex flex-col items-start">

                <span class="font-semibold">
                    Transferir selecionados
                </span>

                <span class="text-[10px] opacity-70 font-normal">
                    Mover os itens para outra mesa ou comanda
                </span>

            </span>

        </button>


        <!-- Faturar selecionados -->
        <button [disabled]="true" av-button iconProvider="material" icon="receipt_long" variant="emerald"
            (click)="select('invoice_selected')" class="!min-h-12 !justify-start !rounded-xl">

            <span class="flex flex-col items-start">

                <span class="font-semibold">
                    Faturar selecionados
                </span>

                <span class="text-[10px] opacity-70 font-normal">
                    Iniciar o faturamento dos itens selecionados
                </span>

            </span>

        </button>



    </div>

</div>