<div class="flex h-full w-full flex-col bg-slate-100">

    <!-- Tabs -->
    <div class="shrink-0 px-3 pt-2">

        <div class="grid h-11 w-full
                   rounded-xl
                   bg-slate-200/70
                   p-1
                   shadow-inner" [style]="{
                gridTemplateColumns: 'repeat(' + APP_FEATURES.length + ', 1fr)'
            }">

            @for (item of APP_FEATURES; track $index) {

            <a [routerLink]="item.path" routerLinkActive="bg-orange-500 text-white! shadow-sm" class="relative flex items-center justify-center gap-1.5
                           rounded-lg
                           px-2
                           text-xs font-medium
                           text-slate-500
                           transition-all duration-200
                           active:scale-[0.98]">

                @if (item.icon) {

                <span av-icon [name]="item.icon" type="material" size="md">
                </span>

                }

                <span>
                    {{ item.label }}
                </span>

            </a>

            }

        </div>

    </div>


    <!-- Conteúdo -->
    <div class="min-h-0 flex-1 overflow-auto">

        <router-outlet />

    </div>

</div>