<div [class.hide]="!visible()" [class.show]="visible()" [class.hidden]="hidden()"
    class="absolute transition-colors w-full h-full  z-1000 top-0 left-0 flex items-center justify-center text-white font-bold flex-col gap-2"
    [ngClass]="{
        'bg-black/40': !err(),
        'bg-black/60': err()
    }">
    <span av-icon [name]="icon()" size="xl">
        ></span>
    <span class="text-center transition-colors">{{loadingOverlayService.$message.value}}</span>

    @if(err()) {
        <button av-button (click)="close()" variant="red">
            Voltar
        </button>
    }
</div>