@reference "tailwindcss";

:host {
  display: contents;
}

.av-paginator {
  display: grid !important;
  grid-template-columns: auto auto 1fr auto auto;
  width: 100%;
}

.av-paginator [av-button] {
  height: 100%;
}

.av-paginator__page {
  aspect-ratio: 1;
  height: 100%;
  width: 100%;
}