<div class="w-full h-full flex flex-col min-h-0 gap-2 p-1 relative">
    <div class="flex flex-row">
        <av-input icon="search" iconProvider="material" ringColor="orange" class="flex-1" placeholder="Buscar mesa" />
    </div>

    <div class="flex-1 overflow-y-scroll">
        <div av-grid [empty]="tables().length === 0" [cols]="{
            'xs': 1,
            'sm': 2,
            'md': 2,
            'lg': 2,
            'xl': 5,
            '2xl': 6
            }">
            @for (table of tables(); track table.id) {
            <div [routerLink]="`/table-ticket-summary/${table.id}`"
                class="rounded-2xl border border-gray-100 p-2.5 shadow-lg transition-all cursor-pointer flex flex-col justify-between group h-36"
                [ngClass]="{
                    'bg-emerald-300/70': table.status === 'A',
                    'bg-red-300/70': table.status === 'O',
                    'bg-indigo-300/70': table.status === 'B',
                    'bg-slate-200': table.status === 'C'
                }">

                <div class="flex flex-row justify-between items-center gap-2 flex-1 min-h-0 overflow-hidden">
                    <div class="flex-1 h-full flex items-center justify-center p-1 overflow-hidden min-w-0 min-h-0">
                        <app-table-layout [seats]="table.keyOpen?.customers || 0"
                            class="block w-full h-full max-h-24 max-w-full">
                        </app-table-layout>
                    </div>

                    <div class="flex flex-col gap-1 shrink-0">
                        <span class="rounded-full px-3 py-1 text-xs font-semibold shrink-0 text-center"
                            [ngClass]="getStyle(table.status)">
                            {{ TABLE_STATUS_LABEL[table.status] }}
                        </span>
                        <span class="font-semibold text-center">M-{{table.code}}</span>
                        <span class="font-semibold text-center text-sm truncate max-w-[90px]">{{table.keyOpen?.alias ||
                            ''}}</span>
                    </div>
                </div>

                <div
                    class="flex flex-row justify-between items-center text-sm border-t border-gray-100/60 pt-1 shrink-0">
                    <div class="flex items-center gap-2">
                        <span class="font-normal text-xs sm:text-sm">
                            {{ table.keyOpen?.customers || 0 }} Pessoas
                        </span>
                    </div>

                    <div class="flex items-center gap-1" [ngClass]="{'font-semibold': table.status === 'O'}">
                        <span class="material-symbols-outlined text-sm">schedule</span>
                        <span>{{getOpenTime(table)}}</span>
                    </div>
                </div>

            </div>
            }

            @if(tables().length === 0) {
            <div
                class="p-4 gap-4 rounded-md border-2 border-gray-500 text-gray-500 border-dashed flex flex-col items-center justify-center cursor-pointer">
                <span>Nenhuma Mesa cadastrada</span>

                <span class="material-symbols-outlined text-gray-400 text-4xl!">
                    takeout_dining_2
                </span>
            </div>
            }
        </div>
    </div>
</div>